[buildout]
extends = frozen.cfg

[openerp]
options.running_env = env-dev
options.admin_passwd = admin
options.db_user = odoo
options.db_name=db
options.data_dir=/workspace/.filestore
with_devtools = true
vcs-clear-retry = true
vcs-revert = on-merge


eggs =
    nose
    unidecode
    Pillow
    phonenumbers
    unicodecsv
    qrcode
    GitPython
    openupgradelib
    erppeek
    psutil
    raven
    paramiko
    viivakoodi
    cairocffi
    CairoSVG

[versions]
reportlab = 3.3
# Disabled on grp-test-01. (SLG : To investigate)
# pydot = 1.0.28
python-dateutil = 2.4.0
Pillow = 3.4.2
python-chart = 1.39
qrcode = 5.3
paramiko = 2.4.1
PyYAML = 3.13

cairocffi = 0.9.0

CairoSVG = 1.0.22
