[buildout]
parts = openerp
versions = versions
extensions += gp.vcsdevelop
vcs-extend-develop = git+https://github.com/anybox/anybox.recipe.odoo@e37e0ac527de58abe6e913e4eff670d2f8d72c9a#egg=a.r.odoo
vcs-update=True
index = https://pypi.python.org/simple
find-links =
    https://github.com/erocarrera/pydot/archive/pydot-1.0.28.zip
#    <Note: Disabled for ubuntu 18.04>
#    https://github.com/Infinite-Code/PyChart/tarball/master#egg=pychart

[openerp]
recipe = anybox.recipe.odoo:server
version = git https://github.com/OpenUpgrade/OpenUpgrade.git odoo 9.0

#=============================================================================#
#=============================================================================#
# ==========================# FOLDERS #=======================================#
#=============================================================================#
#=============================================================================#


addons =


###############################################################################
# OCA #########################################################################
###############################################################################


    git https://github.com/OCA/account-analytic.git                 parts/account-analytic                  9.0
    git https://github.com/OCA/account-financial-reporting.git      parts/account-financial-reporting       9.0
    git https://github.com/OCA/account-financial-tools.git          parts/account-financial-tools           9.0
    git https://github.com/OCA/account-fiscal-rule.git              parts/account-fiscal-rule               9.0
    git https://github.com/OCA/account-invoicing.git                parts/account-invoicing                 9.0
    git https://github.com/OCA/connector.git                        parts/connector                         9.0
    git https://github.com/OCA/knowledge.git                        parts/knowledge                         9.0
    git https://github.com/OCA/l10n-france.git                      parts/l10n-france                       9.0
    git https://github.com/OCA/margin-analysis.git                  parts/margin-analysis                   9.0
    git https://github.com/OCA/pos.git                              parts/pos                               9.0
    git https://github.com/OCA/product-attribute.git                parts/product-attribute                 9.0
    git https://github.com/OCA/purchase-workflow.git                parts/purchase-workflow                 9.0
    git https://github.com/OCA/reporting-engine.git                 parts/reporting-engine                  9.0
    git https://github.com/OCA/sale-reporting.git                   parts/sale-reporting                    9.0
    git https://github.com/OCA/sale-workflow.git                    parts/sale-workflow                     9.0
    git https://github.com/OCA/server-tools.git                     parts/server-tools                      9.0
    git https://github.com/OCA/social.git                           parts/social                            9.0
    git https://github.com/OCA/stock-logistics-barcode.git          parts/stock-logistics-barcode           9.0
    git https://github.com/OCA/stock-logistics-workflow.git         parts/stock-logistics-workflow          9.0
    git https://github.com/OCA/web.git                              parts/web                               9.0
    git https://github.com/OCA/webkit-tools.git                     parts/webkit-tools                      9.0


###############################################################################
# GRAP - Custom Repositories ##################################################
###############################################################################



###############################################################################
# GRAP - New modules proposed in OCA Repositories #############################
###############################################################################


#=============================================================================#
#=============================================================================#
# ==========================# MERGES #========================================#
#=============================================================================#
#=============================================================================#

merges =

###############################################################################
# GRAP fixes for OCA / OCB modules (With PRs) #################################
###############################################################################


###############################################################################
# GRAP - Patch OCB Core for Custom needs (No PRs) #############################
###############################################################################



###############################################################################
# GRAP - Patch OCA Repositories for Custom needs (No PRs) #####################
###############################################################################



###############################################################################
# Pending GRAP Prs against GRAP Repositories ##################################
###############################################################################

####################
### [Sylvain LE GAL]
####################



####################
### [Quentin DUPONT]
####################


###############################################################################
# Python Libraries ############################################################
###############################################################################


eggs =
    nose
    unidecode
    Pillow
    phonenumbers
    unicodecsv
    qrcode

    GitPython
    cairosvg
    openupgradelib
    erppeek
    psutil
    paramiko

# Uncomment locally the following line in dev environnment.
    viivakoodi
    xlsxwriter

# Options
# options.without_demo = [all]
# options.unaccent = True

openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]
reportlab = 3.3
# Disabled on grp-test-01. (SLG : To investigate)
# pydot = 1.0.28
python-dateutil = 2.4.0
cairosvg = 1.0.22
Pillow = 3.4.2
python-chart = 1.39
qrcode = 5.3
paramiko = 2.4.1
