[buildout]
parts = openerp
versions = versions
extensions += gp.vcsdevelop
vcs-extend-develop = git+https://github.com/anybox/anybox.recipe.odoo@e37e0ac527de58abe6e913e4eff670d2f8d72c9a#egg=a.r.odoo
vcs-update=True
index = https://pypi.python.org/simple
find-links =
    https://github.com/erocarrera/pydot/archive/pydot-1.0.28.zip
    https://github.com/Infinite-Code/PyChart/tarball/master#egg=pychart

[openerp]
recipe = anybox.recipe.odoo:server
version = git https://github.com/OCA/OCB.git odoo 8.0

addons =


###############################################################################
# OCA #########################################################################
###############################################################################


    git https://github.com/OCA/account-financial-reporting.git      parts/account-financial-reporting       8.0
    git https://github.com/OCA/account-financial-tools.git          parts/account-financial-tools           8.0
    git https://github.com/OCA/account-fiscal-rule.git              parts/account-fiscal-rule               8.0
    git https://github.com/OCA/account-invoicing.git                parts/account-invoicing                 8.0
    git https://github.com/OCA/connector.git                        parts/connector                         8.0
    git https://github.com/OCA/knowledge.git                        parts/knowledge                         8.0
    git https://github.com/OCA/l10n-france.git                      parts/l10n-france                       8.0
    git https://github.com/OCA/margin-analysis.git                  parts/margin-analysis                   8.0
    git https://github.com/OCA/pos.git                              parts/pos                               8.0
    git https://github.com/OCA/product-attribute.git                parts/product-attribute                 8.0
    git https://github.com/OCA/purchase-workflow.git                parts/purchase-workflow                 8.0
    git https://github.com/OCA/reporting-engine.git                 parts/reporting-engine                  8.0
    git https://github.com/OCA/sale-reporting.git                   parts/sale-reporting                    8.0
    git https://github.com/OCA/sale-workflow.git                    parts/sale-workflow                     8.0
    git https://github.com/OCA/server-tools.git                     parts/server-tools                      8.0
    git https://github.com/OCA/social.git                           parts/social                            8.0
    git https://github.com/OCA/stock-logistics-barcode.git          parts/stock-logistics-barcode           8.0
    git https://github.com/OCA/stock-logistics-workflow.git         parts/stock-logistics-workflow          8.0
    git https://github.com/OCA/web.git                              parts/web                               8.0
    git https://github.com/OCA/webkit-tools.git                     parts/webkit-tools                      8.0


###############################################################################
# GRAP - Pending Backport Modules from Odoo / OCA to OCA ######################
###############################################################################

### [pos]                                                       (2017-02-07)
#   [BACKPORT] 'barcodes' Odoo SA module from 9.0
#   https://github.com/OCA/pos/pull/150
    git https://github.com/grap/pos.git                         parts/pos_01_barcodes                   8.0_BACKPORT_barcodes


### [purchase-workflow]                                         (2018-03-02)
#   [BACKPORT] 'purchase_triple_discount'
#   https://github.com/OCA/purchase-workflow/pull/508
    git https://github.com/grap/purchase-workflow.git           parts/purchase-workflow_01_purchase_triple_discount 8.0-backport_purchase_triple_discount

### [stock-logistics-barcode]                                   (2017-04-24)
#   [BACKPORT] 'barcodes_generator_abstract' and 'barcodes_generator_product'
#   https://github.com/OCA/stock-logistics-barcode/pull/92
    git https://github.com/grap/stock-logistics-barcode.git     parts/stock-logistics-barcode_01_barcodes_generator 8.0_BACKPORT_barcodes_generator


###############################################################################
# GRAP - Custom Repositories ##################################################
###############################################################################


# GRAP repositories

    git https://github.com/grap/grap-odoo-incubator.git             parts/grap-odoo-incubator                       8.0
    git https://github.com/grap/grap-odoo-business.git              parts/grap-odoo-business                        8.0
    git https://github.com/grap/grap-odoo-custom.git                parts/grap-odoo-custom                          8.0

# Vertical Repositories

    git https://github.com/grap/odoo-addons-cae.git                 parts/odoo-addons-cae                           8.0
    git https://github.com/grap/odoo-addons-intercompany-trade.git  parts/odoo-addons-intercompany-trade            8.0

# Obsolete repositories to refactor

    git https://github.com/grap/odoo-addons-misc.git                parts/odoo-addons-misc                          8.0
    git https://github.com/grap/odoo-addons-grap.git                parts/odoo-addons-grap                          8.0

    git https://github.com/grap/odoo-addons-empty.git               parts/odoo-addons-empty                         8.0


###############################################################################
# GRAP - Patch OCB Core for Custom needs (No PRs) #############################
###############################################################################


merges =

### [account]
# [IMP] : disable accounting test, improving update
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_IMP_account_disable_test

### [account]
# [ FIX] manage possibility to have global and custom receivable / payable account for partner
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_FIX_account_receivable_payable_partner_account

### [account_voucher]
# [FIX] module incorrect call to find function (dt=date)
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_FIX_account_voucher_period_find_call

### [base]
# [IMP] improve message in case of access error
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_IMP_access_error

### [point_of_sale]
# [FIX] group sale entries by day
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_IMP_pos_sale_entries_group_by_date

### [point_of_sale]
# [SPEC] manage price to weight
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_SPEC_point_of_sale__price_to_weight

### [point_of_sale]
# [SPEC] allow payment journal of parent company
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_CUSTOM_point_of_sale_allow_journal_from_parent_company

### [point_of_sale]
# [TRANSLATION] bad translation (put / take)
    git https://github.com/legalsylvain/odoo.git        parts/odoo              patch-2

### [point_of_sale]
# [TRANSLATION] bad translation (put / take)
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_FIX_translation

### [product]
# [FIX] bad name of product.product during duplication process
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_FIX_copy_product_product_name

### [product]
# [FIX] do not use default product.category
    git https://github.com/grap/OCB.git                 parts/odoo              8.0_FIX_do_not_use_default_product_category

### [stock]
# [FIX] do not transfer stock pickings without product
    git https://github.com/quentinDupont/odoo.git       parts/odoo              patch-2


###############################################################################
# GRAP fixes for OCA / OCB modules (With PRs) #################################
###############################################################################

# [account_invoice_pricelist]
# [FIX] Use purchase pricelist for in invoices
# https://github.com/OCA/account-invoicing/pull/405                                 (2018-07-15)
    git https://github.com/grap/account-invoicing.git   parts/account-invoicing     8.0_FIX_account_invoice_pricelist_purchase_pricelist

# [bi_sql_editor]
# [FIX] automatic crons doesn't works
# https://github.com/OCA/reporting-engine/pull/221                                  (2018-07-07)
    git https://github.com/grap/reporting-engine.git    parts/reporting-engine      8.0_FIX_bi_sql_editor__cron_generation

# [point_of_sale]
# [FIX] use domain when loading new partners
# https://github.com/OCA/OCB/pull/742                                               (2018-04-24)
    git https://github.com/grap/OCB.git                 parts/odoo                  8.0_FIX_point_of_sale_use_domain_res_partner


###############################################################################
# GRAP New modules proposed in OCA Repositories ###############################
###############################################################################


### [account-fiscal-rule] [IMP] improve installation of the module
# https://github.com/OCA/account-fiscal-rule/pull/83                                (2018-06-18)
    git https://github.com/grap/account-fiscal-rule.git parts/account-fiscal-rule   8.0_IMP_fiscal_classification

### [pos] [IMP] 'pos_margin'
# https://github.com/OCA/pos/pull/207                                               (CLOSED)
    git https://github.com/grap/pos.git                 parts/pos                   8.0_IMP_pos_margin_init_data

### [pos] [FIX] 'pos_picking_load'
# https://github.com/OCA/pos/pull/277                                               (2018-06-22)
    git https://github.com/grap/pos.git                 parts/pos                   8.0_FIX_IMP_pos_picking_load

### [sale-workflow] [FIX] 'product_margin_classification'
# https://github.com/OCA/sale-workflow/pull/607                                     (2018-02-08)
    git https://github.com/grap/sale-workflow.git       parts/sale-workflow         8.0_FIX_IMP_product_margin_classification


###############################################################################
# Pending GRAP Prs against GRAP Repositories ##################################
###############################################################################


### [Sylvain LE GAL]
# [REF] replace product_improved_search by multi_search_abstract / product / partner
# https://github.com/grap/odoo-addons-misc/pull/3                   (2018-07-12)
#  git https://github.com/grap/odoo-addons-misc.git                 parts/odoo-addons-misc      8.0_REF_product_improved_search

### [Quentin DUPONT]
# [IMP] css
# https://github.com/grap/odoo-addons-grap/pull/10                  (2018-06-15)
#  git https://github.com/quentinDupont/odoo-addons-grap.git        parts/odoo-addons-grap      8.0_IMP_change_views_06_05

# [ADD] new etiquette
# https://github.com/grap/odoo-addons-grap/pull/11                  (2018-07-09)
#  git https://github.com/quentinDupont/odoo-addons-grap.git        parts/odoo-addons-grap      8.0_ADD_new_etiquettes


###############################################################################
# Python Libraries ############################################################
###############################################################################


eggs =
    nose
    unidecode
    Pillow
    phonenumbers
    unicodecsv
    qrcode

    GitPython
    cairosvg
    openupgradelib
    erppeek
    psutil

# Uncomment locally the following line in dev environnment.
#    viivakoodi

# Options
# options.without_demo = [all]
# options.unaccent = True

openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]
reportlab = 3.3
pydot = 1.0.28
python-dateutil = 2.4.0
# seems to break on erp-test. disabled. (but works on erp)
python-chart = 1.39
# seems to break on erp-test. disabled. (but works on erp)
# zc.buildout = 2.8.0
# zc.buildout = 2.11.2
qrcode = 5.3

cairosvg = 1.0.22
Pillow = 3.4.2


# setuptools = 32.3.1
# setuptools = 33.1.1
# vobject = 0.6.6
